<%= title t(:editing, model: t("payment_type", scope: "activerecord.models"))  %>

<% content_for :right do -%>
	<li class="active">
		<%= link_to t(:details), @payment_type %>
	</li>
	<li class="active">
		<%= link_to t(:back), payment_types_path %>
	</li>
<% end -%>

<%= render 'form' %>