<%= title t(:editing, model: t("order_status", scope: "activerecord.models"))  %>

<% content_for :right do -%>
	<li class="active">
		<%= link_to t(:details), @order_status %>
	</li>
	<li class="active">
		<%= link_to t(:back), order_statuses_path %>
	</li>
<% end -%>

<%= render 'form' %>