.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
test/dummy/public/*/**
test/dummy/tmp/cache/assets/
test/dummy/db/schema.rb
*.gem
.DS_Store
*/**/.DS_Store
test/dummy/tmp/pids/server.pid
*/**/*.log

