<%= title t(:editing, model: t("flag", scope: "activerecord.models"))  %>

<% content_for :right do -%>
	<li class="active">
		<%= link_to t(:details), @flag %>
	</li>
	<li class="active">
		<%= link_to t(:back), flags_path %>
	</li>
<% end -%>

<%= render 'form' %>