<%= title t(:editing, model: t("product_category", scope: "activerecord.models"))  %>

<% content_for :right do -%>
	<li class="active">
		<%= link_to t(:details), @product_category %>
	</li>
	<li class="active">
		<%= link_to t(:back), product_categories_path %>
	</li>
<% end -%>

<%= render 'form' %>