<%= title t(:editing, model: t("payment_status", scope: "activerecord.models"))  %>

<% content_for :right do -%>
	<li class="active">
		<%= link_to t(:details), @payment_status %>
	</li>
	<li class="active">
		<%= link_to t(:back), payment_statuses_path %>
	</li>
<% end -%>

<%= render 'form' %>