<%= simple_form_for(@payment_type) do |f| %>
    <%= f.error_notification %>

    <div class="form-group">
        <%= f.input :name %>
    </div>

    <div class="form-actions">
        <%= f.button :submit, t(:create, model: t(:order_status, scope: "activerecord.models.mechanize_store"), scope: "helpers.submit"), class: "btn btn-primary" %>
    </div>
<% end %>
