<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">

		<%= stylesheet_link_tag    "mechanize_store/sb-admin" %>
	  <%= javascript_include_tag "mechanize_store/sb-admin" %>
	  
		<title>sb-admin.html</title>

	</head>
	<body>
		<h1>UHUU</h1>
		<%= yield %>
	</body>
</html>